reorder_imports = true
imports_granularity = "Crate"
group_imports = "StdExternalCrate"
use_small_heuristics = "Max"
comment_width = 100
wrap_comments = true
binop_separator = "Back"
trailing_comma = "Vertical"
trailing_semicolon = false
use_field_init_shorthand = true
